In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Must watch.csv")
df.head()

   Unnamed: 0                                             titles  label
0           0  Busty British mature wants you to finish and f...      1
1           1  Busty tattooed chick gets a new tattoo on her ...      1
2           2  Tiny Latina teen being taught a lesson while h...      1
3           3                         Girls show ass and asshole      1
4           4  Hot cute beautiful teen with their young faces...      1

In [3]:
df=df[['titles','label']]

In [4]:
df_2=pd.read_csv('twitter.csv',nrows=2000)
df_2.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [5]:
df_2.columns

Index(['0', '1467810369', 'Mon Apr 06 22:19:45 PDT 2009', 'NO_QUERY',
       '_TheSpecialOne_',
       '@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D'],
      dtype='object')

In [6]:
df_2=df_2.rename(columns={"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer.  You shoulda got David Carr of Third Day to do it. ;D" : "titles"})

In [7]:
df_2.head()

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,titles
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew

In [8]:
df_2['label']=[0 for i in range(len(df_2))]

In [9]:
df_2=df_2[['titles','label']]

In [10]:
df_2.head()

                                              titles  label
0  is upset that he can't update his Facebook by ...      0
1  @Kenichan I dived many times for the ball. Man...      0
2    my whole body feels itchy and like its on fire       0
3  @nationwideclass no, it's not behaving at all....      0
4                      @Kwesidei not the whole crew       0

In [11]:
import re
def clean(text):
    if text.startswith('@'):
        x=re.sub('@','',text)
        return x
    elif text.startswith('http'):
        pass
    else:
        return text

In [12]:
df_2['titles']=df_2['titles'].apply(lambda x:clean(x))

In [13]:
df_2.head()

                                              titles  label
0  is upset that he can't update his Facebook by ...      0
1  Kenichan I dived many times for the ball. Mana...      0
2    my whole body feels itchy and like its on fire       0
3  nationwideclass no, it's not behaving at all. ...      0
4                       Kwesidei not the whole crew       0

In [14]:
df_2=pd.DataFrame(df_2)

In [15]:
data=pd.concat([df,df_2])

In [16]:
data.head(20)

                                               titles  label
0   Busty British mature wants you to finish and f...      1
1   Busty tattooed chick gets a new tattoo on her ...      1
2   Tiny Latina teen being taught a lesson while h...      1
3                          Girls show ass and asshole      1
4   Hot cute beautiful teen with their young faces...      1
5   Truck stop whore found herself a new fuck for ...      1
6   Mature blonde with big tits sucking and fuckin...      1
7   Twenty five Japanese women sucking and fucking...      1
8   Unos Jovenes que se inician en el mundo libera...      1
9    Many many many sperm in my wonderful compilation      1
10  Eighteen-year-old naturally busty teen has her...      1
11                     cold pool jump challenge 1080p      1
12    PHARAH RIDE 1080P SEX HD ON SITE WWW.NSFWART.ME      1
13  Black Angel Fucks A Stranger In A Perverted Gl...      1
14  Blackmailed Teens Cheating Fuck Elsa Jean, Mel...      1
15  Brother and sis share the bathroom - Family Taboo      1
16     Big tit babe Ella Knox used like a cheap whore      1
17  Senior Student Fucks Stranger for Ride Creampi...      1
18  Stuffed Butts DPs #2 Holly Hendrix, Casey Calv...      1
19  Three petite ladies take turns sucking a big c...      1

In [17]:
data=data.sample(frac=1)
data.head(20)

                                                 titles  label
694                      MY TWEETS ARENT GOING THROUGH       0
1311  chick corea was tonight...and I missed it  ......      0
1689  Horny amateur brunette girlfreind wanted to fu...      1
870                                     Essay time....       0
1531  real amateur couple mom son homemade sex porn ...      1
1835  Waiting for an update about my car. It's in th...      0
893                               outdoor standing fuck      1
1483  Amateur Wife Anal Creampie Sex Caught Hidden C...      1
173         i don't see the big deal with this website       0
779   Well, so much for being productive on my 2 day...      0
1123                   sarmar I guess I'm out of funny       0
1548  HD Porn Video Webcam Amateur Fingering Teen Fl...      1
227   yes yes still trying to find a picture that wi...      0
1104  HAUSFRAU FICKEN - Raunchy 69 and cum in mouth ...      1
1563              Pussy full of sperm. Best cumpilation      1
405   Mashumaro is a cleavage of tits Usas chan s er...      1
1740  DuncanMacrae hmmm well good luck with that.....        0
1588  ok my TWEET PEEP i must head to bed now...Got ...      0
1224                         Enlightenment In A Blowjob      1
14    Blackmailed Teens Cheating Fuck Elsa Jean, Mel...      1

In [18]:
data.to_csv('childp')